/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  //--global-bg-color: #{$white-color};
  //--global-code-bg-color: #{$code-bg-color-light};
  //--global-text-color: #{$black-color};
  //--global-text-color-light: #{$grey-color};
  //--global-theme-color: #{$blue-color};
  //--global-hover-color: #{$purple-color};
  //--global-footer-bg-color: #{$grey-color-dark};
  //--global-footer-text-color: #{$grey-color-light};
  //--global-footer-link-color: #{$white-color};
  //--global-distill-app-color: #{$grey-color};
  //--global-divider-color: rgba(0,0,0,.1);
  //--global-card-bg-color: #{$white-color};
	// Gruvbox dark theme
	--global-bg-color: #{$gruvbox-light-background-0-hard};
  --global-code-bg-color: #{$gruvbox-light-background-0-soft};
  --global-text-color: #{$gruvbox-light-foreground-0-soft};
  --global-text-color-light: #{$gruvbox-light-foreground-0-soft};
  --global-theme-color: #{$gruvbox-faded-red};
  --global-hover-color: #{$gruvbox-neutral-red};
  --global-footer-bg-color: #{$gruvbox-light-foreground-0-hard};
  --global-footer-text-color: #{$gruvbox-light-background-0-5-soft};
  --global-footer-link-color: #{$gruvbox-light-background-0-hard};
  --global-distill-app-color: #{$gruvbox-light-foreground-0-soft};
  --global-divider-color: #{$gruvbox-light-foreground-0-4-soft};
  --global-card-bg-color: #{$gruvbox-light-background-2};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
	// Al-folio dark theme
	//--global-bg-color: #{$grey-color-dark};
  //--global-code-bg-color: #{$code-bg-color-dark};
  //--global-text-color: #{$grey-color-light};
  //--global-text-color-light: #{$grey-color-light};
  //--global-theme-color: #{$cyan-color};
  //--global-hover-color: #{$cyan-color};
  //--global-footer-bg-color: #{$grey-color};
  //--global-footer-text-color: #{$grey-color-dark};
  //--global-footer-link-color: #{$black-color};
  //--global-distill-app-color: #{$grey-color-light};
  //--global-divider-color: #424246;
  //--global-card-bg-color: #{$grey-900};
	// Gruvbox dark theme
	--global-bg-color: #{$gruvbox-dark-background-0-hard};
  --global-code-bg-color: #{$gruvbox-dark-background-1};
  --global-text-color: #{$gruvbox-dark-foreground-0-soft};
  --global-text-color-light: #{$gruvbox-dark-foreground-0-soft};
  --global-theme-color: #{$gruvbox-neutral-green};
  --global-hover-color: #{$gruvbox-neutral-green};
  --global-footer-bg-color: #{$gruvbox-dark-foreground-0-hard};
  --global-footer-text-color: #{$gruvbox-dark-background-0-5-soft};
  --global-footer-link-color: #{$gruvbox-dark-background-0-hard};
  --global-distill-app-color: #{$gruvbox-dark-foreground-0-soft};
  --global-divider-color: #{$gruvbox-dark-foreground-0-4-soft};
  --global-card-bg-color: #{$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
