/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     rgba($cyan-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;
//$code-bg-color-light:     rgba($purple-color, 0.05);
//$code-bg-color-dark:      #2c3237 !default;

// Gruvbox palette
// Dark mode
$gruvbox-background-0-5:	#282828;
$gruvbox-red:							#CC241D;
$gruvbox-green:						#98971A;
$gruvbox-yellow:					#D79921;
$gruvbox-blue:						#458588;
$gruvbox-purple:					#B16286;
$gruvbox-aqua:						#689D6A;
$gruvbox-orange:					#D65D0E;
$gruvbox-foreground-0-4:	#A89984;
// Dark mode backgrounds
$gruvbox-background-0-hard:	#1D2021;
$gruvbox-background-0-soft:	#32302F;
$gruvbox-background-1:			#3C3836;
$gruvbox-background-2:			#504945;
$gruvbox-background-3:			#665C54;
$gruvbox-background-4:			#7C6F64;
$gruvbox-foreground-0-hard:	#FBF1C7;
$gruvbox-foreground-0-soft:	#FBF1C7;
$gruvbox-foreground-1:			#EBDBB2;
$gruvbox-foreground-2:			#D5C4A1;
$gruvbox-foreground-3:			#BDAE93;
$gruvbox-foreground-4:			#A89984;
