/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/


// Colors
$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          #0076df !default;
$blue-color-dark:     #00369f !default;
$cyan-color:          #2698BA !default;
$light-cyan-color:    lighten($cyan-color, 25%);
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        #B509AC !default;
$light-purple-color:  lighten($purple-color, 25%);
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          #828282 !default;
$grey-color-light:    lighten($grey-color, 40%);
$grey-color-dark:     #1C1C1D;
$grey-900:            #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;


// Theme colors

$code-bg-color-light:     rgba($cyan-color, 0.05);
$code-bg-color-dark:      #2c3237 !default;
//$code-bg-color-light:     rgba($purple-color, 0.05);
//$code-bg-color-dark:      #2c3237 !default;

// Gruvbox palette
// Colours
$gruvbox-neutral-red:							#CC241D;
$gruvbox-neutral-green:						#98971A;
$gruvbox-neutral-yellow:					#D79921;
$gruvbox-neutral-blue:						#458588;
$gruvbox-neutral-purple:					#B16286;
$gruvbox-neutral-aqua:						#689D6A;
$gruvbox-neutral-orange:					#D65D0E;
$gruvbox-faded-red:			#9d0006;
$gruvbox-faded-green:   #79740e;
$gruvbox-faded-yellow:  #b57614;
$gruvbox-faded-blue:    #076678;
$gruvbox-faded-purple:  #8f3f71;
$gruvbox-faded-aqua:    #427b58;
$gruvbox-faded-orange:  #af3a03;
$gruvbox-bright-red:    #fb4934;
$gruvbox-bright-green:  #b8bb26;
$gruvbox-bright-yellow: #fabd2f;
$gruvbox-bright-blue:   #83a598;
$gruvbox-bright-purple: #d3869b;
$gruvbox-bright-aqua:   #8ec07c;
$gruvbox-bright-orange: #fe8019;
// Dark mode
$gruvbox-dark-background-0-5-soft:	#282828;
$gruvbox-dark-background-0-5-hard:	#928374;
$gruvbox-dark-background-0-hard:	#1D2021;
$gruvbox-dark-background-0-soft:	#32302F;
$gruvbox-dark-background-1:			#3C3836;
$gruvbox-dark-background-2:			#504945;
$gruvbox-dark-background-3:			#665C54;
$gruvbox-dark-background-4:			#7C6F64;
$gruvbox-dark-foreground-0-hard:	#FBF1C7;
$gruvbox-dark-foreground-0-soft:	#FBF1C7;
$gruvbox-dark-foreground-1:			#EBDBB2;
$gruvbox-dark-foreground-2:			#D5C4A1;
$gruvbox-dark-foreground-3:			#BDAE93;
$gruvbox-dark-foreground-4:			#A89984;
$gruvbox-dark-foreground-0-4-soft:	#A89984;
$gruvbox-dark-foreground-0-4-hard:	#EBDBB2;
// Light mode
$gruvbox-light-background-0-5-soft:	#FBF1C7;
$gruvbox-light-background-0-5-hard:	#928374;
$gruvbox-light-background-0-hard:		#F9F5D7;
$gruvbox-light-background-0-soft:		#F2E5BC;
$gruvbox-light-background-1:				#EBDBB2;
$gruvbox-light-background-2:				#D5C4A1;
$gruvbox-light-background-3:				#BDAE93;
$gruvbox-light-background-4:				#A89984;
$gruvbox-light-foreground-0-hard:		#282828;
$gruvbox-light-foreground-0-soft:		#282828;
$gruvbox-light-foreground-1:				#3C3836;
$gruvbox-light-foreground-2:				#504945;
$gruvbox-light-foreground-3:				#665C54;
$gruvbox-light-foreground-4:				#7C6F64;
$gruvbox-light-foreground-0-4-soft:	#7C6F64;
$gruvbox-light-foreground-0-4-hard:	#3C3836;
